<body>
<button id="button" onclick="toggleStartStop()"></button>
  <div style="border:dotted;padding:10px">
    <span id="final_span"></span>
    <span id="interim_span" style="color:grey"></span>
  </div>
  <p></p>
<div style="border:dotted;padding:10px">
    <span id="final_span1"></span>
    <span id="interim_span1" style="color:grey"></span>
</div>
</body>
  <script type="text/javascript">
    var currentElement = null;  

    var recognizing;
    var recognition = new webkitSpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = true;
    reset();
    recognition.onend = reset;

    recognition.onresult = function (event) {
      var final = "";
      var interim = "";
      for (var i = 0; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final += event.results[i][0].transcript;
        } else {
          interim += event.results[i][0].transcript;
        }
      }
      currentElement.value = final;
      //currentElement.value = interim;
    }

    function reset() {
      recognizing = false;
      button.innerHTML = "Click to Speak";
    }

    function toggleStartStop() {
      if (recognizing) {
        recognition.stop();
        reset();
      } else {
        recognition.start();
        recognizing = true;
        button.innerHTML = "Click to Stop";
        // final_span.innerHTML = "";
        // interim_span.innerHTML = "";
      }
      
    }
    window.onclick = function (event) { setCurrentElement(event.target); }

    function setCurrentElement(element) {
        currentElement = element !== 'submit' ? element : currentElement;
    }
  </script>