
<body>
<textarea id="textarea" rows=10 cols=80></textarea>
<textarea id="textarea1" rows=10 cols=80></textarea>

<!-- <textarea id="textarea1" rows=10 cols=80></textarea> -->
<button id="button" onclick="toggleStartStop()"></button>
</body>

<script type="text/javascript">
    var currentElement = null;

    var recognizing;
    let words = ['wrogn', 'chanel', 'here & now', 'remove', 'stop', 'listening'];
    let grammar = '#JSGF V1.0; grammar brands; public <brands> = ' + words.join(' | ') + ';';
    //var grammar = '#JSGF V1.0; grammar colors; public <color> = chanel | here & now;'

    var recognition = new webkitSpeechRecognition();
    var speechRecognitionList = new webkitSpeechGrammarList();
    speechRecognitionList.addFromString(grammar, 1);
    recognition.grammars = speechRecognitionList;

    recognition.continuous = true;
    recognition.interimResults=true;
    reset();
    recognition.onend = reset;
    var num=0;
    recognition.onresult = function (event) {
   // console.log('current element', currentElement)
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
            currentElement= document.activeElement;
               console.log('current element', currentElement)
          currentElement.value += event.results[i][0].transcript;
        }
      }
    }

    function reset() {
      recognizing = false;
      button.innerHTML = "Click to Speak";
    }

    function toggleStartStop() {
      if (recognizing) {
        recognition.stop();
        reset();
      } else {
        recognition.start();
        recognizing = true;
        button.innerHTML = "Click to Stop";
      }
    
    }
    // window.onclick = function (event) { setCurrentElement(event.target); }

    // function setCurrentElement(element) {
    //         currentElement = element !== 'submit' ? element : currentElement;
    //     }
    </script>

    